@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-icon {
    @apply flex h-6 w-6 items-center justify-center rounded-md hover:bg-neutral-50/30 md:h-9 md:w-9;
  }
  .border-default {
    @apply border-neutral-300/20;
  }
  .bg-gradient {
    @apply bg-gradient-to-bl from-[var(--current-1)] to-[var(--current-2)];
  }
  .gradient-dir-1 {
    @apply bg-gradient bg-gradient-to-b;
  }
  .gradient-dir-2 {
    @apply bg-gradient bg-gradient-to-tr;
  }
}

:root {
  --light-1: hsl(210, 5%, 50%);
  --light-2: hsl(200, 5%, 55%);
  --dark-1: hsl(240, 10%, 25%);
  --dark-2: hsl(230, 10%, 30%);
  --rose-1: hsl(355, 70%, 40%);
  --rose-2: hsl(350, 70%, 45%);
  --fuchsia-1: hsl(300, 55%, 35%);
  --fuchsia-2: hsl(295, 55%, 40%);
  --blue-1: hsl(215, 75%, 50%);
  --blue-2: hsl(210, 75%, 55%);
  --cyan-1: hsl(195, 95%, 30%);
  --cyan-2: hsl(190, 95%, 35%);
  --green-1: hsl(140, 75%, 30%);
  --green-2: hsl(130, 75%, 35%);
  --lime-1: hsl(90, 75%, 30%);
  --lime-2: hsl(75, 75%, 35%);
  --amber-1: hsl(23, 75%, 40%);
  --amber-2: hsl(25, 75%, 45%);
}

body,
html {
  height: 100%;
}

html,
html.light {
  color-scheme: light;
  --current-1: var(--light-1);
  --current-2: var(--light-2);
}
html.dark {
  color-scheme: dark;
  --current-1: var(--dark-1);
  --current-2: var(--dark-2);
}
html.rose {
  --current-1: var(--rose-1);
  --current-2: var(--rose-2);
}
html.fuchsia {
  --current-1: var(--fuchsia-1);
  --current-2: var(--fuchsia-2);
}
html.blue {
  --current-1: var(--blue-1);
  --current-2: var(--blue-2);
}
html.cyan {
  --current-1: var(--cyan-1);
  --current-2: var(--cyan-2);
}
html.green {
  --current-1: var(--green-1);
  --current-2: var(--green-2);
}
html.lime {
  --current-1: var(--lime-1);
  --current-2: var(--lime-2);
}
html.amber {
  --current-1: var(--amber-1);
  --current-2: var(--amber-2);
}

.columnBodyScrollBar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.boardBodyScrollBar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.boardBodyScrollBar::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px;
}

.columnBodyScrollBar::-webkit-scrollbar-track,
.columnBodyScrollBar::-webkit-scrollbar-thumb,
.boardBodyScrollBar::-webkit-scrollbar-track,
.boardBodyScrollBar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.columnBodyScrollBar::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.2);
}
.columnBodyScrollBar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
}
.columnBodyScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

.boardBodyScrollBar::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.3);
}
.boardBodyScrollBar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
}
.boardBodyScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.5);
}
