@tailwind base;
@tailwind components;
@tailwind utilities;

/* main.main {
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding-top: 180px;
    padding-bottom: 60px;
  } */

@layer components {
  .btnIcon {
    @apply flex h-6 w-6 items-center justify-center rounded-md md:h-9 md:w-9;
  }
}

body,
html {
  height: 100%;
  scrollbar-width: 6px;
}

html.dark {
  color-scheme: dark;
}
html.light {
  color-scheme: light;
}

.columnBodyScrollBar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.boardBodyScrollBar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.boardBodyScrollBar::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px;
}

.columnBodyScrollBar::-webkit-scrollbar-track,
.boardBodyScrollBar::-webkit-scrollbar-track {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.2);
}

.columnBodyScrollBar::-webkit-scrollbar-thumb,
.boardBodyScrollBar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: rgba(128, 128, 128, 0.3);
}

.columnBodyScrollBar::-webkit-scrollbar-thumb:hover,
.boardBodyScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

#indent {
  padding-left: 10px;
}
