@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-icon {
    @apply flex h-6 w-6 items-center justify-center rounded-md md:h-9 md:w-9;
  }
  .bg-gradient {
    @apply bg-gradient-to-bl from-[var(--gradient-from)] to-[var(--gradient-to)];
  }
  .bg-gradient-t {
    @apply bg-gradient bg-gradient-to-t;
  }
  .bg-gradient-tr {
    @apply bg-gradient bg-gradient-to-tr;
  }
}

body,
html {
  height: 100%;
}

html,
html.light {
  color-scheme: light;
  --gradient-from: hsl(200, 5%, 75%);
  --gradient-to: hsl(204, 5%, 76%);
  --text-color: 36 36 36;
}
html.dark {
  color-scheme: dark;
  --gradient-from: hsl(240, 5%, 20%);
  --gradient-to: hsl(244, 5%, 21%);
  --text-color: 250 250 250;
}
html.rose {
  --gradient-from: hsl(340, 83%, 42%);
  --gradient-to: hsl(344, 83%, 43%);
  --text-color: 250 250 250;
}
html.fuchsia {
  --gradient-from: hsl(300, 70%, 39%);
  --gradient-to: hsl(296, 70%, 40%);
  --text-color: 250 250 250;
}
html.blue {
  --gradient-from: hsl(220, 83%, 53%);
  --gradient-to: hsl(218, 83%, 54%);
  --text-color: 250 250 250;
}
html.cyan {
  --gradient-from: hsl(194, 83%, 35%);
  --gradient-to: hsl(190, 83%, 36%);
  --text-color: 250 250 250;
}
html.green {
  --gradient-from: hsl(142, 83%, 35%);
  --gradient-to: hsl(138, 83%, 36%);
  --text-color: 250 250 250;
}
html.lime {
  --gradient-from: hsl(74, 83%, 35%);
  --gradient-to: hsl(70, 83%, 36%);
  --text-color: 250 250 250;
}
html.amber {
  --gradient-from: hsl(28, 83%, 43%);
  --gradient-to: hsl(32, 83%, 44%);
  --text-color: 250 250 250;
}

.text-color {
  color: rgb(var(--text-color));
}

.border-default {
  border-color: rgba(var(--text-color) / 0.1);
}

.columnBodyScrollBar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.boardBodyScrollBar::-webkit-scrollbar {
  height: 12px;
  width: 12px;
}

.boardBodyScrollBar::-webkit-scrollbar-button {
  display: block;
  height: 4px;
  width: 4px;
}

.columnBodyScrollBar::-webkit-scrollbar-track,
.columnBodyScrollBar::-webkit-scrollbar-thumb,
.boardBodyScrollBar::-webkit-scrollbar-track,
.boardBodyScrollBar::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.columnBodyScrollBar::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.2);
}
.columnBodyScrollBar::-webkit-scrollbar-thumb {
  background: rgba(128, 128, 128, 0.3);
}
.columnBodyScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(128, 128, 128, 0.4);
}

.boardBodyScrollBar::-webkit-scrollbar-track {
  background: rgba(var(--text-color) / 0.2);
}
.boardBodyScrollBar::-webkit-scrollbar-thumb {
  background: rgba(var(--text-color) / 0.3);
}
.boardBodyScrollBar::-webkit-scrollbar-thumb:hover {
  background: rgba(var(--text-color) / 0.4);
}
