// colors
$primaryBlack: hsl(0, 0%, 14%);
$secondaryBlack: hsl(0, 0%, 16%);
$primaryWhite: hsl(0, 0%, 100%);
$secondaryWhite: hsl(0, 0%, 96%);

$greenDarker: hsl(103, 63%, 38%);
$green: hsl(103, 60%, 47%);
$greenLighter: hsl(103, 54%, 58%);

$yellow: hsl(44, 88%, 59%);
$yellowLighter: hsl(55, 88%, 56%);

$brownDarker: hsl(24, 64%, 38%);
$brown: hsl(24, 59%, 49%);
$brownLighter: hsl(22, 68%, 61%);

html.dark {
  --colorScheme: dark;
  --primaryBlack: hsl(0, 0%, 14%);
  --secondaryBlack: hsl(0, 0%, 16%);
  --primaryWhite: hsl(0, 0%, 100%);
  --secondaryWhite: hsl(0, 0%, 96%);
}

html.light {
  --colorScheme: light;
  --primaryBlack: hsl(0, 0%, 100%);
  --secondaryBlack: hsl(0, 0%, 96%);
  --primaryWhite: hsl(0, 0%, 14%);
  --secondaryWhite: hsl(0, 0%, 16%);
}

// borders
$borderRadiusIcons: 30%;
$borderRadius: 1em;

// font
$fontWeightLight: 300;
$fontWeightRegular: 400;
$fontWeightSemiBold: 600;
$fontWeightBold: 700;

$fontSizeXs: 12px;

$fontSizeS: 14px;
$fontLineHeightS: 16px;

$fontSizeM: 16px;
$fontLineHeightM: 24px;

$fontSizeL: 24px;
$fontLineHeightL: 32px;

$fontSizeXl: 32px;
$fontLineHeightXl: 48px;
