@import "variables.module.scss";
@import "breakpoints.scss";

.wrapper {
  position: fixed;
  z-index: 99;
  top: 14px;
  bottom: initial;
  right: 14px;

  button {
    cursor: pointer;
    // width: 36px;
    // height: 36px;
    border: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: var(--secondaryWhite);
    // border-radius: $borderRadiusIcons;

    svg {
      width: 75%;
      height: 75%;
    }
  }

  @include tablet() {
    top: initial;
    bottom: 24px;
    right: 24px;

    button {
      // width: 48px;
      // height: 48px;
    }
  }
}
