:root {
  /* in rgb */
  --light-1: 121 128 134;
  --light-2: 135 142 146;
  --dark-1: 57 57 70;
  --dark-2: 69 71 84;
  --rose-1: 173 31 42;
  --rose-2: 195 34 61;
  --fuchsia-1: 138 40 138;
  --fuchsia-2: 149 46 158;
  --blue-1: 32 112 223;
  --blue-2: 54 140 226;
  --cyan-1: 4 113 149;
  --cyan-2: 4 146 174;
  --green-1: 19 134 57;
  --green-2: 22 156 45;
  --lime-1: 77 134 19;
  --lime-2: 123 156 22;
  --amber-1: 179 84 25;
  --amber-2: 201 100 29;
}

html,
html.light {
  color-scheme: light;
  --current-1: var(--light-1);
  --current-2: var(--light-2);
}
html.dark {
  color-scheme: dark;
  --current-1: var(--dark-1);
  --current-2: var(--dark-2);
}
html.rose {
  --current-1: var(--rose-1);
  --current-2: var(--rose-2);
}
html.fuchsia {
  --current-1: var(--fuchsia-1);
  --current-2: var(--fuchsia-2);
}
html.blue {
  --current-1: var(--blue-1);
  --current-2: var(--blue-2);
}
html.cyan {
  --current-1: var(--cyan-1);
  --current-2: var(--cyan-2);
}
html.green {
  --current-1: var(--green-1);
  --current-2: var(--green-2);
}
html.lime {
  --current-1: var(--lime-1);
  --current-2: var(--lime-2);
}
html.amber {
  --current-1: var(--amber-1);
  --current-2: var(--amber-2);
}
