:root {
  /* in rgb */
  --light-1: 121 133 156;
  --light-2: 147 159 184;
  --light-gradient: linear-gradient(
    185deg,
    rgb(117, 127, 154),
    rgb(215, 221, 232)
  );

  --dark-1: 60 60 60;
  --dark-2: 49 49 49;
  --dark-gradient: linear-gradient(-15deg, rgb(46, 48, 49), rgb(65, 67, 69));

  --blue-1: 42 111 160;
  --blue-2: 50 136 194;
  --blue-gradient: linear-gradient(5deg, rgb(44, 62, 80), rgb(41, 128, 185));

  --green-1: 104 172 120;
  --green-2: 73 151 133;
  --green-gradient: linear-gradient(0deg, rgb(19, 78, 94), rgb(113, 178, 128));
}

html,
html.light {
  color-scheme: light;
  --current-1: var(--light-1);
  --current-2: var(--light-2);
  --current-gradient: var(--light-gradient);
}
html.dark {
  color-scheme: dark;
  --current-1: var(--dark-1);
  --current-2: var(--dark-2);
  --current-gradient: var(--dark-gradient);
}
html.blue {
  --current-1: var(--blue-1);
  --current-2: var(--blue-2);
  --current-gradient: var(--blue-gradient);
}
html.green {
  --current-1: var(--green-1);
  --current-2: var(--green-2);
  --current-gradient: var(--green-gradient);
}
