@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  height: 100%;
}

@layer components {
  .btn-icon {
    @apply flex h-6 w-6 items-center justify-center rounded-md hover:bg-neutral-50/30 md:h-9 md:w-9;
  }
  .border-default {
    @apply border-neutral-300/20;
  }
  .bg-gradient {
    @apply bg-gradient-to-bl from-[var(--current-1)] to-[var(--current-2)];
  }
  .gradient-dir-1 {
    @apply bg-gradient bg-gradient-to-b;
  }
  .gradient-dir-2 {
    @apply bg-gradient bg-gradient-to-tr;
  }
  .drop-preview {
    @apply m-1 border border-dashed border-black/50 bg-white/30;
  }
}

.smooth-dnd-container.horizontal {
  display: flex !important;
  flex: none;
}

.card-ghost {
  transition: transform 0.18s ease;
  transform: rotateZ(3deg);
}

.card-ghost-drop {
  transition: transform 0.18s ease-in-out;
  transform: rotateZ(0deg);
}

.card-drop-preview {
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px dashed rgba(255, 255, 255, 0.1);
  margin: 5px;
}

.column-drop-preview {
  background-color: rgba(128, 128, 128, 0.3);
  border: 1px dashed rgba(255, 255, 255, 0.1);
  margin: 5px;
}
