@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --current-1: var(--current-1);
    --current-2: var(--current-2);
    --white: 250 250 250;
    --black: 36 36 36;
    --error: 255 51 51;
    --errorDark: 175 0 0;
  }
}

@layer components {
  .defaultHover {
    @apply hover:bg-neutral-300/70;
  }
  .errorColor {
    @apply bg-error text-white hover:bg-errorDark/90;
  }
  .grayColor {
    @apply bg-neutral-400 text-white hover:bg-neutral-600/90 hover:text-white;
  }
  .defaultColor {
    @apply bg-current-1 text-white hover:bg-white/70 hover:text-current-1;
  }
  .icon {
    @apply h-[60%] w-[60%];
  }
  .iconSm {
    @apply h-[50%] w-[50%];
  }
  .iconXs {
    @apply h-[35%] w-[35%];
  }
  .border-default {
    @apply border-neutral-300/20;
  }
  .bg-current-gradient {
    background-image: var(--current-gradient);
  }
  .drop-preview {
    @apply m-1 border border-dashed border-black/50 bg-white/30;
  }
  .column-wrapper {
    @apply mx-1 inline-block h-full snap-center snap-normal;
  }
  .dropdown-item {
    @apply w-full cursor-pointer border-b border-neutral-300/50 p-3 hover:bg-neutral-200/50 dark:border-neutral-700/50 hover:dark:bg-neutral-800/50;
  }
  .modal {
    @apply border-default absolute z-50 mx-1 my-1 min-w-[100px] rounded border bg-white p-2 text-black shadow-lg md:mx-3;
  }
}
